:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: #2e2f42;
  --grey: #2e2f42;
  --white: #ffffff;
  --dairy: #fcfcfc;
}

a {
  text-decoration: none;
  color: var(--navy-blue);
  letter-spacing: 0.02em;
}

ul {
  list-style-type: none;
}

.hide {
  display: none;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--slate);
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
}

h1 {
  font-weight: bold;
  font-size: 56px;
  letter-spacing: 2%;
  line-height: 60px;
}

h2 {
  font-weight: bold;
  font-size: 36px;
  letter-spacing: 2%;
}

h3 {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
}

h1,
h2,
h3 {
  color: var(--navy-blue);
}

button {
  cursor: pointer;
}

button:hover,
button:focus,
a:hover,
a:focus {
  background-color: var(--ocean);
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-span {
  color: var(--navy-blue);
}
.e-address,
.phone {
  color: var(--slate);
  letter-spacing: 0.02em;
}

.hero {
  background-color: var(--grey);
}

.hero-h1 {
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white);
}
.hero-button {
  background-color: var(--iris);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
}

header,
.team-card {
  background-color: var(--white);
}

.address {
  font-style: normal;
}

.team {
  background-color: var(--cloud);
}

.team-h2 {
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.team-member {
  font-weight: 500;
  letter-spacing: 0.02em;
}

.team-p {
  font-size: 16px;
  letter-spacing: 0.02em;
}

.portfolio-h2 {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
